# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# Node / React
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Models / Large Data (optional, uncomment if you don't want to push the dataset)
# data/*.csv
# models/*.pkl
